<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Add criteria <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Edit criteria</a></li>
            <li><a href="#">Delete criteria</a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="content-header">
            <div class="content-title">
                <h1>Add criteria</h1>
            </div>
        </div>
        <div class="criteria-content">
            <div class="row">
                <div class="col-md-9">
                    <form>
                        <div class="form-group row">
                            <label for="name" class="col-xs-2 col-form-label">Name</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" value="" ng-model="cr.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="points" class="col-xs-2 col-form-label">Points</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="number" value="" ng-model="cr.points">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-xs-2 col-form-label">Description</label>
                            <div class="col-xs-10">
                                <textarea class="form-control" id="description" rows="3" ng-model="cr.desc"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="parent" class="col-xs-2 col-form-label">Parent</label>
                            <div class="col-xs-10">
                                <div class="criteria-dropdowns">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            {{criterionText}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat='criterion in masterCriteria'>
                                                <a ng-click='getSubcriteria(criterion)'>
                                                    {{criterion.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                            {{subcriterionText}}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="criterion in subcriteria">
                                                <a ng-click="selectCriterion(criterion)">
                                                    {{criterion.name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="criteria-button">
                            <button type="submit" class="btn btn-primary" ng-click="addCriteria(cr)">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
