<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Criteria <span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="content-header">
            <div class="col-md-10">
                <div class="content-title">
                    <h1>Manage criteria</h1>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" ng-click="my_tree.collapse_all()" class="btn btn-primary criteria-add-btn" data-toggle="modal" data-target="#addCrModal">Add criteria</button>
            </div>
        </div>
         <div class="table-search">
            <div class="quick-search">
              <form class="form">
                <div class="form-group">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <input class="form-search" type="text" data-ng-model="filterString" placeholder="Quick search" />
                </div>
              </form>
            </div>
        </div>
        <div class="criteria-content">
            <div class="row">
                <div ng-show="!showMinDir">
                    <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="1" icon-expand="glyphicon glyphicon-chevron-right" icon-collapse="glyphicon glyphicon-chevron-down" icon-leaf="glyphicon glyphicon-globe"></tree-grid>
                </div>
                <div data-ng-hide="deleteMessage == ''" data-ng-class="(deletedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                    {{deleteMessage}}
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add Criteria Modal -->
<div id="addCrModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add criteria</h4>
      </div>
      <form>
      <div class="modal-body">
        <div class="form-group row">
            <label for="name" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" ng-model="cr.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="points" class="col-xs-2 col-form-label">Points</label>
            <div class="col-xs-10">
                <input class="form-control" type="number" value="" ng-model="cr.points">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
                <textarea class="form-control" id="description" rows="3" ng-model="cr.desc"></textarea>
            </div>
        </div> 
        <div class="form-group row">
            <label for="parent" class="col-xs-2 col-form-label">Belongs to</label>
            <div class="col-xs-10">
                <div class="criteria-dropdowns">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{first}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat='cr in firstCriteria'>
                                <a ng-click='listSubcriteria(cr)'>
                                    {{cr.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{second}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="cr in secondCriteria">
                                <a ng-click="selectSecondCr(cr)">
                                    {{cr.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="addCriteria(cr)" data-dismiss="modal">Add</button>
      </div>
      </form>
    </div>

  </div>
</div>

<!-- Edit Criteria Modal -->
<div id="editCrModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit criteria</h4>
      </div>
      <form>
      <div class="modal-body">
        <div class="form-group row">
            <label for="name" class="col-xs-2 col-form-label">Name</label>
            <div class="col-xs-10">
                <input class="form-control" type="text" value="" ng-model="editCr.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="points" class="col-xs-2 col-form-label">Points</label>
            <div class="col-xs-10">
                <input class="form-control" type="number" value="" ng-model="editCr.points">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-xs-2 col-form-label">Description</label>
            <div class="col-xs-10">
                <textarea class="form-control" id="description" rows="3" ng-model="editCr.desc"></textarea>
            </div>
        </div>         
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="editCriteria(editCr)" data-dismiss="modal">Edit</button>
      </div>
      </form>
    </div>

  </div>
</div>
