<div class="container-fluid">
    <span class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            {{deleteMasterShow}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="a in masterCriteria">
                <a ng-click="getLevelOneCriteria(a)">
                    {{a.name}}
                </a>
            </li>
        </ul>
    </span>
    <span class="dropdown" data-ng-hide="showLevel1 == ''">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-click="update()">
            {{deleteLevel1Show}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="a in levelOneCriteria">
                <a ng-click="getLevelTwoCriteria(a)">
                    {{a.name}}
                </a>
            </li>
        </ul>
    </span>
    <span class="dropdown" data-ng-hide="showLevel2 == ''">>
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            {{deleteLevel2Show}}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="a in levelTwoCriteria">
                <a ng-click="setCriteria(a)">
                    {{a.name}}
                </a>
            </li>
        </ul>
    </span>

</div>
<br />
<br />
<br />
<br />
<div>
    <div class="container-fluid">
        <button class="btn btn-primary" type="button" ng-click="deleteCriteria()">
            Delete Criteria
    </button>
        <div data-ng-hide="deleteMessage == ''" data-ng-class="(deletedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{deleteMessage}}
        </div>
</div>