<div class="page-header">

    <div class="content-title text-center">
        <h3 class="text-center">Latest Logs</h3>
    </div>
</div>
<div ng-show="!showMinDir">

    <div class="table-search main" style="padding:0">

        <form class="form">
              <div class="form-group">
                <input class="form-control " type="text" data-ng-model="filterString" placeholder="Quick search" />
            </div>
        </form>

    </div>
    <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="1" icon-expand="glyphicon glyphicon-chevron-right" icon-collapse="glyphicon glyphicon-chevron-down" icon-leaf="glyphicon glyphicon-globe"></tree-grid>

</div>





<!-- View CV Modal-->
<div id="viewCrModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="resetSearch();">&times;</button>
                <h4 class="modal-title">CV Specific Item Log</h4>
            </div>
            <div>
                <div class="modal-body ">


                    <form name="viewCVForm" role="form">
                        <div class="modal-body">
                            <!--Name-->
                            <div class="form-group row">
                                <label for="name" class="col-xs-2 col-form-label">Name</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="text" value="" readonly ng-model="viewCr.cvItemName">
                                </div>
                            </div>
                            <!--Description-->
                            <div class="form-group row">
                                <label for="description" class="col-xs-2 col-form-label">Description</label>
                                <div class="col-xs-10">
                                    <textarea class="form-control" id="description" rows="5" readonly ng-model="viewCr.cvItem.description"></textarea>
                                </div>
                            </div>

                            <!--Attachment-->
                            <div class="form-group row">
                                <label for="name" class="col-xs-2 col-form-label">Attachment</label>
                                <div class="col-xs-10">
                                    <span ng-switch="viewCr.cvItem.cV_ITEM_LINK_LINK"><span ng-switch-when='undefined'>No Attachment</span><a ng-switch-default ng-href="{{viewCr.cvItem.cV_ITEM_LINK_LINK}}">Download</a></span>
                                </div>
                            </div>

                            <!--Links-->
                            <div class="form-group row" data-ng-repeat="link in links" ng-hide="{{links[0].URL === undefined}}">
                                <label for="links" ng-show="$first" class="col-xs-2 col-form-label">Links</label>
                                <label class="col-xs-2 col-form-label" ng-show="$index>0"></label>
                                <div class="col-xs-10">
                                    <label>Link {{$index+1}}</label>
                                    <input type="url" class="form-control" ng-model="link.URL" name="" placeholder="Enter link here" readonly>
                                    <input type="text" class="form-control" ng-model="link.DESCRIPTION" name="" readonly placeholder="Enter description here">
                                </div>
                            </div>
                            <!--StartDate-->
                            <div class="form-group row">
                                <label for="startDate" class="col-xs-2 col-form-label">Start Date<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' title='Date when project was started.'></i></label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="date" value="" ng-model="viewCr.cvItem.starT_DATE" readonly>
                                </div>
                            </div>
                            <!--EndDate-->
                            <div class="form-group row">
                                <label for="endDate" class="col-xs-2 col-form-label">End Date<i class='glyphicon glyphicon-info-sign' data-toggle='tooltip' title='Date when project was finished.'></i></label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="date" value="" ng-model="viewCr.cvItem.enD_DATE" readonly>
                                </div>
                            </div>
                            <!--Crit Name-->
                            <div class="form-group row">
                                <label for="name" class="col-xs-2 col-form-label">Criteria Name</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="text" value="" readonly ng-model="viewCriteria">
                                </div>
                            </div>
                            <!-- Crit Points-->
                            <div class="form-group row">
                                <label for="points" class="col-xs-2 col-form-label">Criteria Points</label>
                                <div class="col-xs-10">
                                    <input class="form-control" type="number" min="1" value="1" readonly ng-model="viewCriteriaFull.points">
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="table-search main" style="padding:0">

                        <form class="form">
                            <div class="form-group">
                                <input class="form-control " type="text" data-ng-model="filterString" placeholder="Quick search" />
                            </div>
                        </form>

                    </div>

                    <div class="text-left">
                        <h4><b> Full log for this item:</b></h4>
                    </div>

                    <tree-grid tree-data="tree_data_cv" tree-control="my_tree" col-defs="col_defs_cv" expand-on="expanding_property_cv" on-select="my_tree_handler(branch)" expand-level="1" icon-expand="glyphicon glyphicon-chevron-right" icon-collapse="glyphicon glyphicon-chevron-down" icon-leaf="glyphicon glyphicon-globe"></tree-grid>

                </div>



                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-if="viewCr.cvItem.statuS_ID!=2 && viewCr.cvItem.statuS_ID!=5" ng-click="confirmRequest(viewCr.cvItem.iD_ITEM);resetSearch();" data-dismiss="modal">Confirm</button>
                    <button type="submit" class="btn btn-danger" ng-if="viewCr.cvItem.statuS_ID!=4 && viewCr.cvItem.statuS_ID!=5" ng-click="rejectRequest(viewCr.cvItem.iD_ITEM);resetSearch();" data-dismiss="modal">Reject</button>
                    <button type="submit" class="btn btn-success" ng-if="viewCr.cvItem.statuS_ID==5" ng-click="restoreRequest(viewCr.cvItem.iD_ITEM);resetSearch();" data-dismiss="modal">Restore</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="resetSearch();">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>