<!--Base Tree Search - Criteria -->
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="passive"><a href="#/myCV">My CV Items<span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="content-header">
            <div class="col-md-10">
                <div class="content-title">
                    <h1>Select Criteria for your CV Item</h1>
                </div>
            </div>
        </div>
        <div class="table-search">
            <div class="quick-search">
                <form class="form">
                    <div class="form-group">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input class="form-search" type="text" data-ng-model="filterString" placeholder="Quick search" />
                    </div>
                </form>
            </div>
        </div>
        <div class="criteria-content">
            <div class="row">
                <div ng-show="!showMinDir">
                    <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property" on-select="my_tree_handler(branch)" expand-level="1" icon-expand="glyphicon glyphicon-chevron-right" icon-collapse="glyphicon glyphicon-chevron-down" icon-leaf="glyphicon glyphicon-globe"></tree-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Add CV Item Modal -->
<div id="addCrModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add CV Item</h4>
            </div>
            <form>
                <div class="modal-body">
                    <!--Name-->
                    <div class="form-group row">
                        <label for="name" class="col-xs-2 col-form-label">Name</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="text" value="" ng-model="cr.name">
                        </div>
                    </div>
                    <!--Description-->
                    <div class="form-group row">
                        <label for="description" class="col-xs-2 col-form-label">Description</label>
                        <div class="col-xs-10">
                            <textarea class="form-control" id="description" rows="3" ng-model="cr.desc"></textarea>
                        </div>
                    </div>

                    <!--Attachment to be added here / TO BE MODIFIED FOR PROPER FILE UPLOAD-->

                    <div class="form-group row">
                        <label for="fileUpload" class="col-xs-2 col-form-label">CV File</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="file" name="fileUpload" id="fileUpload">
                        </div>
                    </div>

                    <!--StartDate-->
                    <div class="form-group row">
                        <label for="startDate" class="col-xs-2 col-form-label">Start Date</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="date" value="" ng-model="cr.startDate">
                        </div>
                    </div>
                    <!--EndDate-->
                    <div class="form-group row">
                        <label for="endDate" class="col-xs-2 col-form-label">End Date</label>
                        <div class="col-xs-10">
                            <input class="form-control" type="date" value="" ng-model="cr.endDate">
                        </div>
                    </div>
                    <!--Criteria-->
                        <div class="form-group row">
                            <label for="name" class="col-xs-2 col-form-label">Selected criteria</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" readonly value="" ng-model="addCr.name">
                            </div>
                        </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" ng-click="addCVItem(cr)" data-dismiss="modal">Add</button>
                </div>
            </form>
        </div>

    </div>
</div>