<form class="form-login" data-ng-hide="authentication.isAuth" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <input type="text" class="form-control" placeholder="Username" data-ng-model="registration.Username" required autofocus>
    <br />
    <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.Email" required autofocus>
    <br />
    <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.Password" required>
    <!-- <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>-->
    <br />
    <input type="text" class="form-control" placeholder="First name" data-ng-model="registration.FirstName" required autofocus>
    <br />
    <input type="text" class="form-control" placeholder="Last name" data-ng-model="registration.LastName" required autofocus>
    <br />
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
</form>